/* Just copy/paste this file and edit the variables. */
/* Fonts */
:root {
	--pad:.25em;
	--serif: Cambria, Cochin, Georgia, Times, "Times New Roman", "Roboto Serif", serif;
	--sans: "Segoe UI", Tahoma, Geneva, Verdana, Roboto, sans-serif;
	--mono: "Courier New", Courier, "Roboto Mono", monospace;
}


/* Note: Primary and secondary colors must be broken into sub-components for calculations to work. */
/* Day theme */
:root {
	--bg: 0, 0%, 100%;
	--fg: 0, 0%, 0%;
	--p: 214, 100%, 44%;
	--s: 318, 100%, 35%;
	--back: hsl(var(--bg));
	--fore: hsl(var(--fg));
	--pri: hsl(var(--p));
	--sec: hsl(var(--s));
	--link: var(--pri);
	--visited: var(--sec);
}
/* Night theme */
@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg:0, 0%, 0%;
		--fg:0, 0%, 100%;
		--p:210, 100%, 64%;
		--s:290, 97%, 73%;
		--back: hsl(var(--bg));
		--fore: hsl(var(--fg));
		--pri: hsl(var(--p));
		--sec: hsl(var(--s));
		--link: var(--pri);
		--visited: var(--sec);
	}
}

