@import url(layout.thin.css);


/* Grid definition */
@media screen and (min-width: 40em) {
	body {
		display: grid;
		grid-template-columns: min-content auto min-content;
		grid-template-rows: min-content min-content auto min-content;
	}

	header {
		grid-column: 1 / -1;
		grid-row: 1;
	}

	body > nav {
		grid-column: 1/-1;
		grid-row: 2;
		padding: var(--pad);
	}

	aside:first-of-type {
		grid-column: 1;
		grid-row: 3;
	}

	main,
	article {
		grid-column: 2;
		grid-row: 3;
	}

	aside:last-of-type:not(:only-of-type) {
		grid-column: 3;
		grid-row: 3;
	}

	footer {
		grid-column: 1/-1;
		grid-row: 4;
	}
}