/* * Doot: A skeletal framework by NomadicVoxel. Still in development. */

/* * Theme details are broken into subject.
	Deleting any won't exactly *hurt*, but anything that uses those properties will resort to browser defaults. */

/* * Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
	--serif: 'Source Serif Pro', serif;
	--sans: 'Source Sans Pro', sans-serif;
	--mono: 'Source Code Pro', monospace;
}

/* *Colors */
:root {
	--canvas: #000;
	--ink: #ffffff;
	/* * --accent: hsl(247, 100%, 65%); */
	--AH:247;--AS:100%;--AL:65%;
	--accent: hsl(var(--AH),var(--AS),var(--AL));	
	--boxback: hsl(calc(var(--AH)-30),calc(var(--AS)*0.5),15%);
	--red:#D38686;
	--green:#70D470;
	--blue:#59CAFF;
	--purple: #9e91ff;
	--fullGradient: linear-gradient(to right,rgba(0,0,0,0) 0%, var(--accent) 20%, var(--accent) 80%, rgba(0,0,0,0) 100%);
}
@media screen and (prefers-color-scheme:light) {
	:root{
		--canvas: #ffffff;
		--ink: #000000;
		/* * --accent: hsl(227, 58%, 65%); */
		--AH:227; --AS:58%; --AL:65%;
		--accent: hsl(var(--AH),var(--AS),var(--AL));
		--boxback: hsl(var(--AH),var(--AS),95%);
		--red:#a52622;
		--green:#20b351;
		--blue:#135ec0;
		--purple: #4b1d75;
	}		
}


/* * Line styles */
:root{
	--thinLine: .075rem solid;
	--thickLine: .1rem solid;
}

/* * Padding, spacing, and scaling */
:root{
	--breathingRoom: .25em;
	--maxWidth: 50rem;
	--headerScale:1.5rem;
}