/* Doot: A skeletal framework by NomadicVoxel. Still in development. */

@import url("doot.skin.css");
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: var(--canvas);
	color: var(--ink);
	padding:0;
	margin:0;
}

main{
	max-width:var(--maxWidth);
	margin:auto;
}
header{
	background-color:var(--accent);
	width:100%;
	padding:var(--breathingRoom);
	margin:0;
	font-size:var(--headerScale);
}

svg.button{cursor:pointer;}

.SpoilerToggle:checked~.Spoiler, .SpoilerToggle {
	display: none;
}
.Drawer {
	min-height:80%;
	padding: var(--breathingRoom);
}
.Left.Drawer {
	float: left;
	margin-right: var(--breathingRoom);
}
.Right.Drawer {
	float: right;
	margin-left: var(--breathingRoom);
}
.sans {
	font-family: var(--sans);
}
.serif {
	font-family: var(--serif);
}
.mono {
	font-family: var(--mono);
}