/* * Doot: A skeletal framework by NomadicVoxel. Still in development. */
@import url("doot.skin.css");

/* * First just normalizing the basics.  */
*{box-sizing:border-box;} 
body{background:var(--canvas); color:var(--ink); padding:0; margin:0; font-family:var(--sans);} 
main{min-height:75vh;}
main,footer section{max-width:var(--maxWidth); margin:auto auto 1em auto;}
h1 {font-size: 2rem;} h2 {font-size: 1.8rem;} h3 {font-size: 1.6rem;} h4 {font-size: 1.4rem;} h5 {font-size: 1.2rem;} h6 {font-size: 1rem;} 
blockquote {display: block; margin:var(--breathingRoom); border-left:var(--thinLine);}
img{display:block;margin:auto;}
::selection{background:var(--accent); color:var(--ink);}

/* *fancy HR */
hr {margin: calc(var(--breathingRoom)*2);
	color: #0000;
	height: .05rem;
	border-width: .05rem 0 0 0;
	border-style:solid;
	border-image: var(--fullGradient);
	border-image-slice:1;
}

/* * Custom text stuff */
.sans, address {font-family: var(--sans);}
.serif, caption, cite, dfn, h1, h2, h3, h4, h5, h6{ font-family: var(--serif);}
.mono code, input, output, kbd, pre, samp, var{ font-family: var(--mono);}
h1, h2, h3, h4, h5, h6 {margin: 0 .5em;}
y7gdel{color:var(--red);} ins{color:var(--green);} mark{color:var(--ink);background:hsla(var(--AH),var(--AS),var(--AL),50%);}
a:link, a:visited.amnesiac{color:var(--blue);} a:active, a.dead{color:var(--red);} a:visited{color:var(--purple);}

/* SVG and image stuff */
svg.inline, img.inline{
	position:relative;
	top:.2em;
	height:1.15em;
	fill:var(--ink);
}
svg.button{cursor:pointer;}
a svg, a img{
	box-shadow: 0px 0px 16px -3px var(--blue);
	border-bottom: var(--thinLine) var(--blue);
}
em svg.inline, em img.inline{
	height:2em;
	margin:0 .5em;
}

/* * Spoiler thing */
.SpoilerToggle:checked~.Spoiler, .SpoilerToggle {display: none;}

/* * Header and menus */
header{
	width:100%;
	background:var(--accent);
	padding:var(--breathingRoom);
	font-size:var(--headerScale);
}

aside.Drawer{background-color:var(--boxback);}
.Drawer {padding: var(--breathingRoom);}

.Left.Drawer {
	float: left;
	margin-right: var(--breathingRoom);
}
.Right.Drawer {
	float: right;
	margin-left: var(--breathingRoom);
}

footer .footnote{
	text-align:center;
	font-size:smaller;
}