/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
	--pad:.25em;
	--serif: "Source Serif Pro", Cambria, Cochin, Georgia, Times, 		"Times New Roman", serif;
	--sans: "Source Sans Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--mono: "Source Code Pro", "Courier New", Courier, monospace;
}

:root {
	--bg: 44, 22%, 86%;
	--fg: 27, 9%, 19%;
	--p: 88, 61%, 37%;
	--s: 266, 100%, 35%;
	--link: var(--pri);
	--visited: var(--sec);
	--back: hsl(var(--bg));
	--fore: hsl(var(--fg));
	--pri: hsl(var(--p));
	--sec: hsl(var(--s));
}
/* Night theme */
@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg: 249, 11%, 12%;
		--fg: 0, 0%, 93%;
		--p: 118, 100%, 64%;
		--s: 249, 97%, 73%;
		--back: hsl(var(--bg));
		--fore: hsl(var(--fg));
		--pri: hsl(var(--p));
		--sec: hsl(var(--s));
		--link: var(--pri);
		--visited: var(--sec);
	}
}