/* Tab2Skip. Tap tab, reveal hidden button to jump to content. */
.tab2skip {
	position: absolute;
	top: -2em;
	left:0;
	background: var(--back);
	padding:.25em;
}
.tab2skip:focus {
	top: 0;
}
/* <a href="#" id="Tab2Skip">Skip to content</a> */

/* Toggle-hide button, now off by default on small screens. */
@media screen and (max-width:40em) {
	.HideButton:checked ~ .Hide,
	.HideButton {
		display: none;
	}
}
@media screen and (min-width:40em) {
	.HideButton:not(:checked) ~ .Hide,
	.HideButton {
		display: none;
	}
}