/* * Skltl: A skeletal framework by NomadicVoxel. Still in development. */
/* This is all about classes */

/* Custom text stuff */
.sans {font-family: var(--sans);}
.serif{ font-family: var(--serif);}
.mono { font-family: var(--mono);}
a:visited.amnesiac{color:var(--blue);}
a.dead{color:var(--red);}

/* Hideaway stuff */
.HideButton:checked~.Hide, .HideButton {display: none;}