/* 
Tab2Skip. Paste this to the beginning of the document if you want to use this.
<a href="#" id="Tab2Skip">Skip to content</a> 
*/
#Tab2Skip {
	position: absolute;
	top: -2em;
	left:0;
	background: var(--back);
	padding:.25em;
}
#Tab2Skip:focus {
	top: 0;
}