button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	accent-color: var(--pri);
	background: var(--bg);
	border: 1px solid hsl(var(--fg), 50%);
	color: var(--fg);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

input:not([type="checkbox"]),
input:not([type="radio"]){
	width : 150px;

}